.center-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-card {
    width: 100%;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;

    .form-input {
        width: 100%;
    }

    .login-button {
        margin-top: 0.5rem;
        height: 40px;
        font-weight: 500;
    }
}